.page {
  font-family: var(--font-family);
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  scrollbar-gutter: stable;
}

.page__body {
  min-width: 375px;
  background-color: var(--bg-color);
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  object-fit: cover;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: none;
}

a {
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
}
